/%h1.text-center= "#{@user.first_name}'s Profile"
.container-fluid
  .row
    .col-sm-6.col-sm-offset-3.main-container
      .row
        .col-xs-6
          = image_tag("struggles.png", :class => "img-responsive profile-image")
        .col-xs-6
          .ul.tag-item-container
            .li= @user.first_name
            .li 23
            .li Nashville
            .li Cancer
      .row
        .col-xs-8.well
          %p Bacon ipsum dolor sit amet ham rump bacon, ball tip pork chop leberkas boudin frankfurter tail shank tri-tip swine. Ham flank shank, meatball pig leberkas t-bone. Strip steak ham venison brisket leberkas turkey pastrami jowl. Bresaola pork chop pancetta chuck filet mignon tail.
        .col-xs-4
          = image_tag("hobbies.png", :class => "img-responsive profile-image")

      .row
        .col-xs-4
          = image_tag("family.png", :class => "img-responsive profile-image")
        .col-xs-8.well
          %p Bacon ipsum dolor sit amet ham rump bacon, ball tip pork chop leberkas boudin frankfurter tail shank tri-tip swine. Ham flank shank, meatball pig leberkas t-bone. Strip steak ham venison brisket leberkas turkey pastrami jowl. Bresaola pork chop pancetta chuck filet mignon tail.

          %p Flank rump prosciutto tongue, bresaola porchetta meatball biltong salami t-bone spare ribs. Fatback meatloaf drumstick, meatball pork loin boudin tenderloin. Venison ground round swine, boudin bacon rump fatback doner tail prosciutto tongue drumstick cow shankle shank. Prosciutto sausage turkey, porchetta spare ribs shankle flank bresaola pancetta.

