!!!
%html
  %head
    %title GreaterThan
    %link{href: "http://fonts.googleapis.com/css?family=Shadows+Into+Light", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - flash.each do |name, msg|
      - if msg.class == Array
        - msg.each do |message|
          = content_tag :div, message, :id => "flash_#{name}", :class => "flash"
      - else
        #{content_tag :div, msg, :id => "flash_#{name}", :class => "flash"}
    = yield
